{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<div class="wrapper">
    {% if user %}
        <h1>Привет {{ user.username  }} !</h1>

    {% else %}
    <h1>Для работы с приложением необходимо зарегистрироваться или войти!</h1>

    {% endif %}
    {% if companies %}
        <h2>Компании которые ищут людей</h2>
        <table>
        {% for company in companies %}
            <tr>
                <td><a href="{{ path('companyinfo',{ id:company.id }) }}">{{ company.name }}</a></td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
</div>
{% endblock %}
