@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}
.wrapper{
    max-width: 1276px;
    padding: 0 30px;
}

.cv-cards{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 0 20px;
}
.card-title{
    text-align: center;
}
.card-data{
    font-size: 12px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 3px;
    background: white;
    width: 30%;
    margin:5px;
    height: 350px;
}
.edit{
    background: #5eb5e0;
}
.delete{
    background: red;
}
.companies{
    margin: 20px 0 0 0;
}
.createcomp{
    background: darkslategray;
    max-width: 150px;
}
.card-link{
    border-radius: 5px;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.submit{
    font-size: 16px;
    border: 0;
}
.submit:hover{
    cursor: pointer;
}
.card-body{
    padding: 5px;
}
.card-owner{
    font-size: 16px;
}
.create{
    background: #AAAAAA;
    max-width: 130px;
}
.info{
    background: cornflowerblue;
}
.card-dates{
    height: 50px;
}
.avaliable{
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 0 20px;
}
.card-controls{
    display: flex;
    margin: 10px 0;
    justify-content: space-around;
}
.card-text{
    height: 100px;
}

.company{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


/* form styling*/
.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}